@import '../../styles/imports.scss';

.component {
  padding-top: $unit-large;
  padding-bottom: $unit-medium;
  background-color: $color-green-dark;
}

.body {
  max-width: 700px;
  margin-top: $unit-small;
}

.register {
  margin-top: $unit-large
}

.component :global(.details) {
  margin-top: $unit-large;
}

.component .register + :global(.details) {
  margin-top: $unit-medium;
}