@import '../../styles/imports.scss';

.items {
  display: grid;
  grid-template-columns: 1;
  gap: $unit-small;
  list-style: none;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.items:not(:first-child) {
  margin-top: $unit-xsmall;
}

.item {
  border: 3px solid rgba($color-green-dark, .3);
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  padding: $unit-medium $unit-small $unit-small $unit-small;
}

.title {
  flex-grow: 2;
}

.card :global(.details) {
  margin-top: $unit-medium;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: $unit-xsmall;
  margin-top: $unit-medium;

  > :global(*) {
    min-width: max-content;
  }
}
