@import '../../styles/imports.scss';

.component {
  appearance: none;

  display: inline-block;
  padding: .4em 1em .4em .7em;

  color: $color-green-dark;
  border-radius: 3px;
}

.level-primary {
  padding: .4em 1em .4em .7em;
  
  font-variation-settings: 'wght' 700;
  font-size: 2.2rem;
}

.level-secondary {
  padding: .2em .8em;
  font-size: 2rem;
}

.theme-yellow {
  background-color: $color-yellow;
}

.theme-pink {
  background-color: $color-pink-light;
}

.theme-green {
  background-color: $color-green-dark;
  color: $color-pink-light;
}

.theme-green-muted {
  background-color: rgba($color-green-dark, .2);
  color: $color-green-dark;
}

.component > :global(.icon) {
  display: inline-block;
  vertical-align: text-top;
  width: 1.2em;
  height: 1.2em;
  margin-right: .5em;

  fill: transparent;
  stroke: currentColor;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
