@import '../../styles/imports.scss'; 

.component {
  padding-top: $unit-large;
  padding-bottom: $unit-large;
  background-color: $color-green-dark;

  @media (min-width: 950px) {
    padding-top: $unit-xlarge;
    padding-bottom: $unit-xlarge;
  }
}

.inner {
  @media (max-width: 949px) {
    > * + * {
      margin-top: $unit-medium;
    }
  }

  @media (min-width: 950px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.title:not(:first-child) {
  margin-top: $unit-xsmall;
}

.body:not(:first-child) {
  margin-top: $unit-medium;
}

.media {
  text-align: center;
}

.media :global(.button) {
  margin-top: $unit-medium;
}

.media > :global(*) {
  @media (max-width: 949px) {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}