@import '../../styles/imports.scss'; 

.component {
  padding-top: 20vw;
  padding-bottom: $unit-xlarge;
  
  background-color: $color-green-dark;
  background-image: url('/design/hero-main-background--mobile.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 500px) {
    padding-top: 12vw;
    background-image: url('/design/hero-main-background--desktop.svg');
  }

  @media screen and (min-width: 1000px) {
    padding-top: 180px;
    padding-bottom: 140px;
  }
}

.inner {
  text-align: center;

  @media screen and (max-width: 949px) {
    > * + * {
      margin-top: $unit-medium;
    }
  }
}

.title {
  font-size: calc(3rem + .5vw);
  line-height: 1.1em;

  @media screen and (min-width: 700px) {
    font-size: calc(3rem + 2vw);
  }

  @media screen and (min-width: 1000px) {
    font-size: calc(4rem + 2vw);
  }
  
  @media screen and (min-width: 1200px) {
    font-size: 8rem;
  }
}

.body:not(:first-child) {
  margin-top: $unit-medium;
}
