@import '../../styles/imports.scss';

$button-height: 40px;

.component {
  position: relative;
  height: var(--height);
  padding-bottom: $button-height + $unit-small;
  overflow: hidden;
}

.open {
  height: auto !important;
  height: min-content !important;
}

.button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $button-height;

  text-decoration: underline;
  
  .dark-green & {
    background-color: $color-green-dark;
  }

  &:hover {
    text-decoration: none;
  }
}

.button:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  
  pointer-events: none;
  transition: opacity .2s;
  
  .dark-green & {
    background-image: linear-gradient(to bottom, rgba($color-green-dark, 0), $color-green-dark);
  }

  .open & {
    opacity: 0;
  }
}