@import '../../styles/imports.scss'; 

.component {
  background-color: $color-green-dark;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.link {
  position: relative;
  display: block;
  width: $header-height-desktop;
  height: $header-height-desktop;
}

.link img {
  display: block;
  width: $header-height-desktop;
  height: $header-height-desktop;
}