$color-black: #1D211E;
$color-white: #fff;

$color-yellow: #FECD31;

$color-pink-light: #F6CEBF;
$color-pink-dark: #D0A798;

$color-green-light: #567C49;
$color-green-medium: #3E5A40;
$color-green-dark: #224928;

$color-link-background: rgba($color-green-dark, .2);
