$breakpoint-navigation: 800px;

$max-width-xlarge: 1300px;
$max-width-large: 1200px;
$max-width-medium: 1000px;
$max-width-small: 800px;
$max-width-xsmall: 500px;

$header-height-desktop: 60px;

$unit-xsmall: 10px;
$unit-small: 20px;
$unit-medium: 30px;
$unit-large: 60px;
$unit-xlarge: 120px;