@import '../../styles/imports.scss'; 

.component {
  position: relative;
  background-color: $color-green-dark;
}

.header {
  text-align: center;
}

.body:not(:first-child) {
  margin-top: $unit-medium;
}

.actions {
  display: flex;
  justify-content: center;
}

.component :global(.sprinkles) {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 140%;
  pointer-events: none;
}