@import '../../styles/imports.scss';

.featured,
.items {
  list-style: none;
}

.featured {
  display: grid;
  grid-template-columns: 1fr;
  gap: $unit-small;
  margin-top: $unit-medium;

  @media (max-width: 799px) {
    padding-bottom: $unit-small;
  }

  @media (min-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
    gap: $unit-medium;
  }

  @media (min-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
    gap: $unit-large;
  }
}

.items {
  @media (min-width: 800px) {
    margin-top: $unit-medium;
  }

  @media (min-width: 1100px) {
    margin-top: $unit-large;
  }
}

.items .item + .item {
  margin-top: $unit-small;

  @media (min-width: 800px) {
    margin-top: $unit-medium;
  }

  @media (min-width: 1100px) {
    // margin-top: $unit-large;
  }
}
