@import '../../styles/imports.scss'; 

.ratio {
  position: relative;
}

.ratio:before {
  content: '';
  display: block;
  padding-top: var(--aspect-ratio);
}

.component img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.caption {
  margin-top: $unit-xsmall;
}