@import '../../../styles/imports.scss';

$breakpoint-align: 650px;

.align-left,
:global(.align-left) {
  @media screen and (min-width: $breakpoint-align) {
    float: left;
    margin-right: $unit-medium;
  }
}

.align-right,
:global(.align-right) {
  @media screen and (min-width: $breakpoint-align) {
    float: right;
    margin-left: $unit-medium;
  }
}

.align,
:global(.align) {
  position: relative;
  width: 100%;
  
  @media screen and (min-width: 366px) {
    width: 326px;
  }

  @media screen and (max-width: $breakpoint-align - 1px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: $breakpoint-align) {
    margin-bottom: $unit-medium;
  }
}